on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

permissions:
  issues: write

jobs:
  remind:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6
      with:
        node-version: 20
    - run: npm ci --production
    - uses: ./internal/remind
